* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-fondo: rgb(54, 53, 53);
}

html {
    font-size: 62.5%;
    font-family: arial;
    font-weight: bold;
    color: white;
}

body {
    background: var(--color-fondo);
    background-image: url("img/fondo_mobile.webp");
    background-position: -100% 0;

}

.header {
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

.header-div1, .header-div2 {
    width: 50%;
}


.header-div1-img {
    width: 50%;
    max-width: 320px;
}

.header-div2-img {
    width: 10%;
    max-width: 60px;
}

.header-div2 {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.header-div2-p {
    margin-left: 1em;
}

.record {
    font-size: 1rem;
}


/*Empiezan estilos de main*/

.main-main {
    display: flex;
    justify-content: center;
}

.main {
    width: 100%;
    min-height: 100vh;
    /* perspective: 1500px; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 142.5px 142.5px 142.5px; */
    grid-gap: 1em;
}

.main-div {
    /*width: 100px
    height: 142.5px*/
    max-width: 200px;
    max-height: 285px;
    width: 31.25vw;
    height: 44.53125vw;
    position: relative;
    transform: rotateY(0deg);
    transition: all 1s;
    transform-style: preserve-3d;
    justify-self: center;
    align-items: center;
}


.main-div-card-info {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    font-family: 'Beaufort for LOL';
    font-style: italic;
    font-weight: bold;
    transform: translateZ(-2px) rotateY(180deg);
    display: flex;
    align-items: end;
}



.main-div-card-info-p {
    padding: 0.25em 0.5em;
    width: 100%;
    background: rgb(0, 35, 68);
}

.main-div-card-reverse {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
}

.turn-card {
    transform: rotateY(180deg);
}

.marcador {
    position: fixed;
    left: 50%;
    top: 50%;
    transition: opacity 0.5s;
    transition-timing-function: cubic-bezier(1,-0.63,.86,.96);
    opacity: 0;
    transform: translateX(-50%) translateY(-50%);
    font-size: 10rem;
    z-index: 100;
    pointer-events: none;
    text-shadow: 0px 0px 10px #000;
}

.fade {
    opacity: 1;
}

.newgame {
    opacity: 1;
    font-size: 5rem;
    border: 0.2em solid white;
    background: rgba(255, 255, 255, 0.37);
    text-align: center;
    pointer-events: initial;
    cursor: pointer;
}

